.main
  .main__header
    .main__header__left-box
      .main__header__left-box__current-group
        aaaaa
      %ul.main__header__left-box__members
        Member:
        %li.member
          name
        %li.member
          name
        %li.member
          name
    .main__edit
      %a.main__edit__btn(href="#")
        Edit

  .main__message
    .message
      .upper-message
        .upper-message__user-name
          masa
        .upper-message__date
          2019/11/20(wed) 17:43:01
      .lower-meesage
        .lower-message__content
          メッセージ
    .message
      .upper-message
        .upper-message__user-name
          masa
        .upper-message__date
          2019/11/20(wed) 17:43:01
      .lower-meesage
        .lower-message__content
          メッセージ

  .main__form
    .form
      .input-box
        %input{type:"text", class: "input-box__text", placeholder:"type a message"}
        %label{class:"input-box__image"}
          = icon('fas','image')
          %input{type:"file", class: "input-box__image__file"}
      %input{type:"submit", class: "submit-btn", value: 'send'}